<%- include('partials/head.ejs') %>
    <header>
        <h1>Serious dating</h1>
        <div class="space">

        </div>
        <nav>
            <ul>
                <li><a href="/dashboard"><button>Dashboard</button></a></li>
                <li><a href="/instellingen"><button>Instellingen</button></a></li>
            </ul>
        </nav>
    </header>
    <main class="profiel">
      <h2>Jouw profiel</h2>
      <h3><%=username%></h3>
      <p>19 Jaar</p>
      <img src="uploads/<%= foto %>" alt="Profielfoto">
      <form method="post" enctype="multipart/form-data">
        <label for="bs-file">File:</label>
          <input type="file" name="bs-file" id="bs-file" value="" />
        <label for="submit"></label>
          <input type="submit" id="submit" value="Upload!" />
      </form>
      <br>
      <h3>Bio:</h3>
      <p>Ik ben opzoek naar een serieuze relatie!</p>
      <p>Als jij dat ook bent, voel je dan vrij om </p>
      <p>een bericht achter te laten!</p>
    </main>




    <%- include('partials/foot.ejs') %>
